# Welcome to a Brief Introduction!

### Schedule and Goals:
- Ask ourselves: "Why python?"
- Introduce the base python programming language
    - Syntax
    - Data structures
    - Operators
    - Control logic
    - Functions
    - Classes
    - Misc.
- Discuss useful libraries for working with data
    - Data Wrangling (Pandas & Numpy)
    - Data Visualization (Matplotlib, Seaborn)
    - Statistics (Scipy.stats, Numpy, math, statistics)
- What to do when it doesn't work
    - Resources
    - My method
- Q&A

## Why Python?

 ....

#### *What Python?*

  ->

Python is a general purpose language that has gained traction in data. It is relatively easy-to-learn, and has wide community support.

### Considerations: 
- Open source vs. Proprietary
    - Free
    - .....but anyone can make changes (sort of)
    - No direct customer support
    - BUT..... VERY large community with many already-answered questions
- Capabilities
    - Can perform most of the same operations as other data-tools being used
    - Is able to leverage open source community to import additional functionality (unlike proprietary)
        - Very well supported data science ecosystem
    - Aids in documentation and centralization of coding using tools like git
- Adoption
    - Is a whole new coding language. Worth having whole team learn a new language from scratch?
    - In most senses, is not revolutionary in terms of what it can do in IR

  # Installation of Anaconda

# Intro to Base Python

#### Syntax Rules:
1. Python is case sensitive
2. Path specification requires forward slashes ( / )
3. There is no command terminator at the end of each line
4. Semicolons can be used to write more than one command on a line
5. Strings are defined using '', "", ''' ''', or """ """
6. Comments begin with #
7. To write a multiline command, use a backslash between lines ( \ ). Expressions contained in [], {}, or () do not need backslashes between multiple lines
8. Blank lines are ignored
9. ***CODE BLOCKS ARE INDICATED USING INDENTATION***

In [ ]:
a = 5

Notice that we assigned the value 5 to the variable a using the = operator

In [ ]:
# Watch how this prints three times:
print('hello world!') ; print("HELLO WORLD") ; print('''HeLloWorlD''')

In [ ]:
# Exercise 1: Assign a value to a variable and then print it using the print() function

#### Data types and Data Structures:
1. Lists
2. Dictionaries
3. Tuples
4. Sets

In [ ]:
# Creating a list

In [ ]:
# Index slicing

In [ ]:
# Negative indexing

In [ ]:
# Appending more elements to the list.
# Note that running this cell multiple times will append multiple copies to the end of the list.

In [ ]:
# Printing every 3rd element (the format is start:end:step_size)

In [ ]:
# Deleting appended values

In [ ]:
# Creating a dictionary

In [ ]:
# Creating a tuple

In [ ]:
# Creating a set

In [ ]:
# Exercise 2: Create each of the discussed data structures and assign them to a variable

#### Operators

There are a lot. Here are a few.

https://www.w3schools.com/python/python_operators.asp




##### Assignment Operators:

x = 3 --> Assigns 3 to x
x += 3 --> Incrementally adds the specified value to an existing variable x


##### Mathematical operators:
Addition: +    
Subtraction: -      

##### Comparison operators:
Evaluate - "Is equal": ==     
Evaluate - "Not equal": !=    
Greater than: >    
Less than: <

#### Control Logic

In [ ]:
# if statements

In [ ]:
# while loops

In [ ]:
# for loops

In [ ]:
 # Excercise 3: Using the control logic discussed above, create a for loop that iterates through one of your assigned data structures from excercise 2.

#### Functions

In [ ]:
# Creating a function

In [ ]:
# Calling a function

In [ ]:
# Creating an addition function

In [ ]:
# Calling my addition function

In [ ]:
# Calling my addition function again

In [ ]:
# Excercise 4: Create a function that prints numbers from 1 to 100. Print 'fizz' instead of the number if that number is divisible by 3, print 'buzz' if the number is divisible by 5, 
# and print 'fizzbuzz' if the number is divisible by both 3 and 5.

#### Classes

In [ ]:
# Creating and working with classes
class pet:
        legs = 4


class dog(pet):
    def __init__(self):
        super().__init__()
        self.ears = 'floppy'
        self.name = 'Fido'
    
    def bark(self):
        print('woof')

#### Miscellaneous Tricks:

In [ ]:
# Variable assignment tricks
a, b, c = 1, 'a', 3

In [ ]:
print(a, b, c)

In [ ]:
a = b = c = 4

In [ ]:
# List comprehension
[i for i in range(10)]

# Useful Libraries

### Data Wrangling - Numpy, Pandas

In [ ]:
import numpy as np
# Creating a 1D array


# Creating a 2D array

In [ ]:
# Element-wise operations
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])

# Addition


# Multiplication


# Dot product

In [ ]:
# Exercise 5: Import numpy, create two arrays, and multiply them element-wise

### Note that a lot of numpy's functions are fairly low-level. It only works with numerical data, but because of the way it is implemented, it is blazingly fast

In [ ]:
import seaborn as sns
import pandas as pd
t_df = sns.load_dataset('titanic', cache=False)
t_df

### Data Visualization - Matplotlib, Seaborn

Note: Both of these libraries do essentially the same thing. The main difference is that matplotlib allows for very precise control over the plots created, whereas seaborn
requires you give up some of this control for a more streamlined process.

In [ ]:
import matplotlib.pyplot as plt
# Boxplot

In [ ]:
fig2, ax2 = plt.subplots()

# Scatterplots

In [ ]:
# Barplots

In [ ]:
# Seaborn boxplot

In [ ]:
# Exercise 6: Make a boxplot using seaborn with different variables

### Statistics - Scipy

In [ ]:
# Chi Square test
import scipy.stats

In [ ]:
# Contingency table

In [ ]:
# Chi Square test of independence

In [ ]:
# Contingency table 2

In [ ]:
# Chi Square test of independence 2

# IR Case Study - Compare success (A, B, C, CR) in ENGL-1301 between campuses over time

In [1]:
# from irpy.functions import Mung
# from irpy.utilities import Term_to_Numeric
import pandas as pd
pd.read_csv('sample_data.csv')

         TERM STUDENT_ID     COURSE CAMPUS GRADE
0      2021FL    zpomxyc  ENGL-1301     SE     B
1      2021FL    npfrrgi  ENGL-1301     NE     F
2      2021FL    fzapltz  ENGL-1301     SO     B
3      2021FL    xvvdykp  ENGL-1301     NW    CR
4      2021FL    zkgjyqz  ENGL-1301     SO     D
...       ...        ...        ...    ...   ...
24995  2023FL    itcbpfh  ENGL-1301     TR     F
24996  2023FL    yxzklon  ENGL-1301     SE     A
24997  2023FL    mvjolaa  ENGL-1301     SO     B
24998  2023FL    lqmsszq  ENGL-1301     SO     B
24999  2023FL    awpupqc  ENGL-1301     SO     F

[25000 rows x 5 columns]

In [ ]:
IR_colormap = {'black':'#000000', 
               'bluegray':'#44546A', 
               'lightgray':'#E7E6E6', 
               'navy':'#244061', 
               'lime':'#64A038', 
               'gray':'#A5A5A5', 
               'aqua':'#028AB2', 
               'babyblue':'#7CE0FD', 
               'lightlime':'#A0D17C'}

In [ ]:
colors = list(IR_colormap.values())

In [ ]:
from matplotlib.colors import LinearSegmentedColormap, ListedColormap
import matplotlib as mpl
cmap1 = ListedColormap(colors)

In [ ]:
fig4, ax4 = plt.subplots()
result.plot(ax=ax4, cmap=cmap1)
fig4.suptitle('ENGL-1301 Success Rates')
ax4.set_ylabel('Campus Success Rate (A, B, C, CR)')
ax4.set_ylim([0.5, 1.0])

In [1]:
# Exercise 7: Determine which campus has the highest rate of success overall

# Extra Resources

Google   
Pandas Tutor - https://pandastutor.com/   
Stack Overflow - https://stackoverflow.com/   
Stack Exchange - https://stackexchange.com/   
Youtube (Data Talks, Tech with Tim)  
Automate the Boring Stuff - https://automatetheboringstuff.com/   
Beyond the Basic Stuff - https://inventwithpython.com/beyond/

# Link to This Presentation's Materials

https://github.com/educationalCode/Workshop

# Q&A